<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite skipfailedinvocationCounts="false" verbose="1" name="Test Suite" junit="false" annotations="JDK">
  <test name= "TestNG test" junit="false">
    <classes>
      <class name="Test.Multiply_JML_Test"/>
      <class name="Test.Addition_JML_Test"/>
      <class name="Test.Square_JML_Test"/>
    </classes>
  </test>
</suite>
